= form_for @golfer do |f|
  - if @golfer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@golfer.errors.count, "error")} prohibited this golfer from being saved:"
      %ul
        - @golfer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .actions
    = f.submit 'Save'
