%p#notice= notice

%p
  %b Name:
  = @tournament.name
%p
  %b Major:
  = @tournament.major
%p
  %b Fedex playoff:
  = @tournament.fedex_playoff

= link_to 'Edit', edit_tournament_path(@tournament)
\|
= link_to 'Back', tournaments_path
