= form_for @pick do |f|
  =f.hidden_field :date, :value => Date.today
  - if @pick.errors.any?
    .row
      .col.s12
        #error_explanation
          %h2= "#{pluralize(@pick.errors.count, "error")} prohibited this pick from being saved:"
          %ul
            - @pick.errors.full_messages.each do |msg|
              %li= msg

  .row
    .col.s6
      .row
        -# TODO allow you to create or select golfer from dropdown
        =fields_for :golfer, @pick.golfer do |golfer_fields|
          .col.s6
            .input-field
              = golfer_fields.text_field :first_name
              = golfer_fields.label :first_name
          .col.s6
            .input-field
              = golfer_fields.text_field :last_name
              = golfer_fields.label :last_name
    .col.s3.input-field
      =f.select :tournament_id, options_for_select(@tournaments.map{|t| [t.name, t.id]}), {}, class:'browser-default'

    .col.s3.input-field
      = f.check_box :backup, {}, true
      = f.label :backup

  .row
    .col.s6.offset-s6
      .actions.right
        = link_to 'Back', picks_path
        = f.submit 'Save', class:"btn"
